.fondo-negro{
    background-color: black;        /*Clase que solo aplica un color negro de fondo*/
}

.fondo-cabecera{
    background-image: url(../Img/fake-noobs.png);        /*Fondo del header de todas las páginas*/
    height: 10em;
}

h1:hover{
    padding-top: 4%;
    text-transform: uppercase; 
    transition: 1.5s;                           /*Clase para que el h1 del header cuando pases por encima se mueva y se haga mas grande*/
    transform: scale(1.2);
}

.espacio-entre{
    margin: 2.9%;                               /*Clase para aplicar espacios entre cosas*/
}

img:hover{
    transform: scale(1.1);                      /*Cuando pases el raton sobre cualquier imagen se haga más grande*/
    border-radius: 5%;
}

.h2-prendas{                                    /*Clase para que el h2 de las pagina de prendas este alineado al centro*/
    text-align: center;
}

.h2-prendas:hover{
    padding-top: 1%;
    text-transform: uppercase; 
    transition: 1s;                           /*Clase para que el h2 de la pagina de prendas cuando pases por encima se mueva y se haga mas grande*/
    transform: scale(1.3);
}

.botones-prendas {
    margin: 1%;
    margin-top: 10%;
}

.botones:hover{
    color: rgb(74, 163, 252);
    background-color: black;
}

.colocar{
    margin-top: 2%;                                 /*Clase simple para aplicar espacio por arriba*/
}

.transformar:hover{
    transition: 1.4s;
    transform: scale(1.3);
    text-transform:initial;                         /*Clase para cuando pasas el ratón por encima de ¿Cuál es mi talla? en el main surjan cambios*/
    padding-left: 12%;
    padding-top: 0.5%;
    color: blue;
}

.fondo-sobre{
    background-image: url(../Img/sobre.png);        /*Clase para aplicar la foto como fondo de la página de sobre nostros*/
}