.fondo-negro{
    background-color: black;
}

.fondo-cabecera{
    background-image: url(../Img/fake-noobs.png);
    height: 10em;
}

h1:hover{
    padding-top: 5%;
    text-transform: uppercase; 
    transition: 1s;
}

.espacio-entre{
    margin: 3%;
}